body {
    margin: 0;
    padding: 0;
}
.logo{
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}
input {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 3px;
}
select {

}
.navbar{
    overflow: hidden;
    background-color:  #FF4C4D;
    margin: 0;
    padding: 0;
}
.dropdown {
    overflow: hidden;
    float: left;
}
.dropdown .dropbutton {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}
.dropdown:hover .dropbutton, .dropbutton:focus {
    background-color: #fff;
}
.dropdown-menu {
    display: none;
    position: absolute;
    margin: 0;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
.show {
    display: block;
}
.dropdown-menu a {
    display: block;
    float: none;
    background-color: lightgray;
}
.dropdown-menu a:hover {
    background-color: grey;
}